/* Top navigation bar */
.menu-container { background-color: #452d69; justify-content: center;}
.menu-item-container {width: 60%; overflow: scroll;  justify-content: flex-end;}
.menu { min-height: 70px; max-width: 960px; align-items: center; margin: 0 auto;}
.logo { margin-right: auto;} 
.logo img {height:  40px;}
.menu-item:not(:last-child) { margin-right: 1rem; }
.menu-item a { color: white; text-decoration: none; font-size: 1rem}

@media(max-width: 575.98px) {
	.logo { margin: 0 auto; margin-top: 1.4rem; margin-bottom: 1rem; text-align: center;}
	.menu-item-container { margin-bottom: 0.5rem; width: 100%; justify-content: center;}
}

/* Basic Layout */

a {text-decoration: none; color: black }
.btn-primary {background-color: #452d69; border-color: #452d69}
.btn-primary:hover, .btn-primary:visited, .btn-primary:focus, .btn-primary:active {background-color: #3f2269; border-color: #3f2269; box-shadow:  none}
body { font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;     -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; text-size-adjust: 100%;}

.container-fluid {
	justify-content: center;
}
.section {
	font-weight: 400;
	font-size: 18px;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #FAFAFA;
	min-height: 400px;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.section-header {
	background-image: url("images/0.svg");
	background-size: cover;
}
.row {
	max-width: 960px;
	width: 100%;
	justify-content: center;
}
.site-title {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}
.site-subtitle {
	text-align: center;
	font-size: 1.25rem
}
.section-goals {
	text-align: left;
	margin-top: 3rem;
	width: 90%;
	color: #4F2A84;
	display: flex;
	justify-content: center;
}
@media(max-width: 576px) {
.goals {
	margin-top: 2rem;
}
}
.section-goals .title {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.section-content:nth-child(odd), .section-projects:nth-child(odd) {
	background-color: white;
}
.section-content .title {
	font-weight: bold;
	font-size: 1.7rem;
	justify-content: center;
	text-align: center;
	margin-bottom: .5rem;
}
.section-content .content {
	margin-top: 2rem;
	align-items: center;
}	
.section-content .content .image {
	text-align: center;
}	
.section-content .content img {
	width: 80%;
}

/* Homepage */
.feature img {
	width: 50%!important;
}	
.feature .role {
	margin-top: .5rem;
}

/* People */

.section-group img {
	border-radius: 50%;
}

.section-group p:nth-child(2) {
	margin-bottom: 0;
}

.section-group p:nth-child(3) {
	color: #777;
	font-size: 0.95rem;
}

.section-group {
	text-align: center;
}

.section-recruit .card {
	margin-top: 1rem;
}
.section-recruit .btn {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.section-meetings .content {
	margin-top: 1rem !important;
}
.section-meetings {
	height: 300px;
	min-height: 300px;
}

/* Projects */
.section-projects {
	padding-top: 4rem;
}
.section-projects .area {
	padding-right: 2rem;
}
.section-projects .icon {
	text-align: right;
	margin-top: 1rem;
}
.section-projects .icon img {
	height: 4rem;
}
.section-projects .area .title {
	font-weight: bold;
	font-size: 1.8rem;
	text-align: right;
}
.section-projects .area .title span {
	display: inline-block;
}
@media(max-width: 575.98px) {
	.section-projects .icon {
		text-align: center;
		margin-bottom: 1rem;
	}
	.section-projects .area .title {
		text-align: center;
	}
}
.section-projects .project:not(:last-child) {
	margin-bottom: 2rem;
}
.section-projects .name {
	font-weight: bold;
	font-size: 1.4rem;
}
.section-projects .authors {
	color: #666;
}
.section-projects .abstract {
	margin-top: 0.5rem;
	font-size: 0.9rem;
}

/* TACC */
.site-title.tacc {
	font-size: 2.25rem;
}
.site-cta {
	margin-top: 3rem;
	text-align: center;
}
.site-cta .btn {
	border-color: #452d69;
	color:  #452d69;
}
.site-cta .btn:hover {
	background-color: #452d69;
	border-color: #452d69;
	color: white;
}
.site-items {
	margin-top: 1rem;
	text-align: center;
}
.site-items .item {
	margin-left: 0.5rem;
	font-size: 1rem;
	border-bottom: 1px solid black;
}
.section-redbird {
	padding-top: 0px;
}
.subsection-differ {
	margin-top: -50px!important;
}

@media (max-width: 575.98px) {
	.subsection-differ {
		margin-top: 10px!important;
		flex-direction: column-reverse;
	}
	.section-actions .col {
		margin-top: 3rem;
	}
}
.section-actions {
	text-align: center;
	background-color: #FAFAFA!important;
}
.section-actions p {
	font-size: 1.1rem;
}
.section-testimonials {
	font-size: 1rem;
}
.section-testimonials .author-name {
	text-align: right;
	font-size: 1.2rem;
}
.section-testimonials .description {
	text-align: right;
}
.section-testimonials .comment {
	font-style: italic;
}
.section-testimonials .sign {
	margin-top:  0.25rem;
	font-size: .9rem;
	font-weight: bold;
	color: #333;
}

@media(max-width: 575.98px) {
	.section-testimonials .author-name {
		text-align: center;
	}
	.section-testimonials .description {
		text-align: center;
		margin-bottom: 1rem;
	}
}

/* Term */
.section-term {
	height: 200px;
	min-height: 200px;
}

.section-term .link {
	font-size: 1.1rem;
	font-weight: normal;
	margin-top: -1rem;
	text-align: center;
}

.section-term .link a {
	border-bottom: 1px solid black;
}

/* Footer */
.section-footer {
	height: 100px;
	min-height: 100px;
}	
.section-footer .copyright {
	font-size: .9rem;
	font-weight: normal;
}
.section-footer .trs {
	font-size: .9rem;
	font-weight: normal;
}
